################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ServiceLayer/obj/ServiceLayer.csproj.nuget.g.props
